@using PagedList;
@using PagedList.Mvc
@model IPagedList<Forum.ViewModels.PostCategoryUserViewModel>

@Html.Partial("_SearchForm")

@{ var model = ViewBag.Category as Forum.Models.Category; }
<h3 class="cat-title">Category: @(model.Name)</h3>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span9" id="update-ajax">
            @Html.Partial("_HomePagePosts", Model)
            @Html.PagedListPager(Model, page => Url.Action("CategoryPosts", "Categories", new { page = page, categoryId = model.Id }), new PagedListRenderOptions { DisplayEllipsesWhenNotShowingAllPageNumbers = true, DisplayItemSliceAndTotal = true, UlElementClasses = new[] { "nav" }, ContainerDivClasses = new[] { "navbar clearfix" } })
        </div>
        <div class="span3">
            @Html.Action("ListCategories", "Home")
        </div>
    </div>
</div>